a {
    text-decoration: none;
   
}

H1, h2, h3 {
    font-family: "Cinzel"
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', 'sans-serif';
}

:root{
    scroll-behavior: smooth;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 90vh;
    background-image: 
    linear-gradient(to top, #77252598 0%, rgba(9, 13, 14, 0.808) 100%);
   /* url(../Recursos/Lugar.jpg);*/
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

.menú{
    position: fixed;
    top: 20px;
    right: 15px;
    background-color: #ffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0; 
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba (0 0 0 .5);
}

/*header:hover .menú-navegacion{
    transform: translate(110%);
}*/

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
}

.Titulo{
    text-align: center;
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.welcome{
    text-align: center;
    font-weight: 400;
}

/*INFORMACIÓN*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #000;
    font-size: 40px;
    margin-top:20px;
    margin-bottom: 20px;
}

.investigacion-criminal{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 40px;
    /*flex-wrap: wrap ;*/
}

.c-info{
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.lupa{
    width: 40%;
}

.informacion{
    height: 25%;
}

.n-investigacion{
    margin-bottom:7px;
    color: #000;

}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #772525fd 0%, #090d0e 100%);
    height: 30px;
    width: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 32px;
    margin-right: 5px;

}

.galeria{
    background: #f2f2f2;
}

.contenedor-materias{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-materias{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, alpha);
}


footer{
    background-color: #09203f;
}