a {
    text-decoration: none;
   
}

H1, h2, h3{
    font-family: "Cinzel"
}
/*#rric{

}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', 'sans-serif';
}

main{
    margin: 20px;
}
:root{
    scroll-behavior: smooth;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: 
    linear-gradient(to top, #77252598 0%, rgba(9, 13, 14, 0.808) 100%), url(../Recursos/Lugar_C.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

.menú{
    position: fixed;
    top: 20px;
    right: 15px;
    background-color: #ffff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
    z-index: 4;
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0; 
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba (0 0 0 .5);
}

/*header:hover .menú-navegacion{
    transform: translate(110%);
}*/

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
}

.Titulo{
    text-align: center;
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}



/*INFORMACIÓN*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #000;
    font-size: 40px;
    margin-top:20px;
    margin-bottom: 20px;
}

.c-criminal{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    padding: 100px 80px 140px;
    background: #DCE7E8;
    overflow: hidden;
}

.c-criminal::before{
    content: "";
    position: absolute;
    right: -200px;
    bottom: -120px;
    width: 100%;
    height: 90%;
    background: #BCE2EB;
    border-radius: 90% 70% 0% 80%;
    z-index: 0;
}

.c-criminal::after{
    content: "";
    position: absolute;
    left:-10%;
    bottom: -120px;
    width: 90%;
    height: 250px;
    background: rgba(69, 137, 154, 0.733);
    border-radius: 90% 300% 80% 0%;
    z-index: 1;
}

.texto{
    width: 60%;
    max-width: 520px;
}

.texto, .c-img{
    position: relative;
    z-index: 3;
}

.c-img{
    width: 40%;
    display: flex;
    justify-content: center;
}

.lupa{
    /*flex: 1;*/
    max-width: 100%;
    height: auto;
}

.c-img img{
    width: 420px;
    position: relative;
    top: 30px;
}

#rric{
    text-align: left;
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 500;
    
}

.welcome{
    font-size: 1.1rem;
    line-height: 1.7;
    max-width: 420px;
    color: #444;
    margin-bottom: 25px;
}

.btn{
    display: inline-block;
    background: #236C82;
    padding: 14px 26px;
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .25s ease;
}

.investigacion-criminal{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 40px;
    margin-bottom: 20px;
    /*flex-wrap: wrap;*/
}

.c-info{
    margin-top: 30px;
    /*flex: 1;*/
    display: flex;
    gap: 30px;

}

.informacion{
    /*height: 25%;*/
    flex: 1;
}

.n-investigacion{
    margin-bottom:7px;
    color: #000;

}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #772525fd 0%, #090d0e 100%);
    height: 30px;
    width: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 32px;
    margin-right: 5px;

}

.galeria{
    background: #f2f2f2;
}

.contenedor-materias{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-materias a{
    width: 30%;
}

.img-galeria{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, alpha);
}

#camp{
    height: 84%;
}


footer{
    height: 11%;
    background-color: #09203f;
}